Table	Create Table
menu	CREATE TABLE `menu` (\n  `id` int(11) NOT NULL AUTO_INCREMENT,\n  `nama` varchar(100) NOT NULL,\n  `harga` int(11) NOT NULL,\n  `deskripsi` text DEFAULT NULL,\n  `kategori` varchar(50) DEFAULT NULL,\n  `tersedia` int(11) NOT NULL DEFAULT 1,\n  PRIMARY KEY (`id`)\n) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci
Table	Create Table
merchandise	CREATE TABLE `merchandise` (\n  `id` int(11) NOT NULL AUTO_INCREMENT,\n  `nama` varchar(100) NOT NULL,\n  `harga` int(11) NOT NULL,\n  `deskripsi` text DEFAULT NULL,\n  `stok` int(11) NOT NULL DEFAULT 0,\n  PRIMARY KEY (`id`)\n) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci
Table	Create Table
pesanan	CREATE TABLE `pesanan` (\n  `id` int(11) NOT NULL AUTO_INCREMENT,\n  `nama_pelanggan` varchar(100) NOT NULL,\n  `catatan` text DEFAULT NULL,\n  `total_harga` int(11) NOT NULL DEFAULT 0,\n  `status` varchar(50) NOT NULL DEFAULT 'menunggu',\n  `created_at` datetime DEFAULT current_timestamp(),\n  PRIMARY KEY (`id`)\n) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci
